# Workstation secrets
# 1. cp this to secrets.yaml, fill in real values
# 2. sops --encrypt --input-type yaml --output-type yaml secrets.yaml > secrets.yaml.sops
# 3. rm secrets.yaml

hermes_env_separator: "# === CUSTOM SEPARATOR ==="

hermes_env: |
  MINIMAX_API_KEY=sk-your-minimax-key
  NTFY_TOPIC="your-ntfy-topic"
  DEEPSEEK_API_KEY=sk-your-deepseek-key
  TELEGRAM_BOT_TOKEN=your-bot-token-from-botfather
  TELEGRAM_ALLOWED_USERS=1536460301
  TELEGRAM_HOME_CHANNEL=1536460301
  DISCORD_BOT_TOKEN=your-discord-bot-token
  DISCORD_ALLOWED_USERS=810739536405200898
  DISCORD_HOME_CHANNEL=1515351608739762297

aws_credentials: |
  [personal]
  aws_access_key_id     = YOUR_ACCESS_KEY
  aws_secret_access_key = YOUR_SECRET_KEY

github: |
  user: abhijit424515
  email: abhijit.amrendra.kumar@gmail.com
  token: YOUR_GITHUB_TOKEN
